html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
}

.game-helper {
  position: absolute;
  z-index: 100;

  transform: translate(0, -100%);

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 1rem;
  box-sizing: border-box;

  overflow: hidden;

  display: grid;

  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);

  background-color: rgba(0, 0, 0, 0.8);
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorial-video {
  border-radius: 15px;
  width: 85%;
}

.controllers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;

  margin: 3rem 2rem;
  padding: 1rem;

  border: 5px solid #eeeeee;
  border-radius: 15px;

  background-color: rgba(0, 0, 0, 0);

  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: #eeeeee;
  text-align: center;

  transition: all 500ms ease-out;
}

.button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8), -3px -3px 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
  cursor: pointer;
}

.button:visited {
  color: #eeeeee;
}

.scoreboard {
  margin: 1rem;

  border: 5px solid #eeeeee;
  border-radius: 15px;

  overflow: hidden;
}

.scoreboard-title {
  color: #eeeeee;
  text-align: center;

  font-size: 2rem;
}

#scoreboard-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  list-style-type: none;
}

.scoreboard-list-item {
  margin: 1rem;
  color: #eeeeee;
  text-align: center;

  font-size: 3rem;
  font-weight: bold;
}

.transparent-curtain {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.indicator {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35%;
  height: 25%;

  opacity: 0;

  background-color: rgba(0, 0, 0, 1);
  border: 5px #eeeeee solid;
  border-radius: 15px;

  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #eeeeee;
  font-size: 3rem;
  font-weight: bold;
}

.game-container {
  display: grid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: rgba(0, 0, 0, 0.8);

  overflow: hidden;
  padding: 4rem;

  grid-gap: 4rem;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.game {
  position: relative;
  display: block;

  border: 5px #eeeeee solid;
  border-radius: 15px;

  text-decoration: none;

  transition: all 500ms ease-out;
}

.game:hover {
  cursor: pointer;
}

.game-title {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;

  font-size: 3rem;
  font-weight: bold;
  color: black;

  transition: opacity 500ms ease-in;
}

.game4-title {
  color: white;
}

.game:hover .game-title {
  opacity: 1;
}

.game1 {
  background-image: url("./static/imgs/game1.png");
  background-size: cover;
}

.game2 {
  background-image: url("./static/imgs/game2.JPG");
  background-size: cover;
}

.game3 {
  background-image: url("./static/imgs/game3.JPG");
  background-size: cover;
}

.game4 {
  background-image: url("./static/imgs/game4.JPG");
  background-size: cover;
}
