html body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;

  overflow: hidden;

  display: grid;

  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  

  background-color: rgba(0, 0, 0, 0.8);
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tutorial-video {
  border-radius: 15px;
  width: 85%;
}

.controllers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;

  margin: 3rem 2rem;
  padding: 1rem;

  border: 5px solid #EEEEEE;
  border-radius: 15px;

  background-color: rgba(0, 0, 0, 0);

  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  color: #EEEEEE;
  text-align: center;

  transition: all 500ms ease-out;
}


.button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8), -3px -3px 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
  cursor: pointer;
}

.button:visited {
  color: #EEEEEE;
}

.score-board {
  border: 5px solid #EEEEEE;
  border-radius: 15px;
}

.title {
  color: #EEEEEE;
  text-align: center;

  font-size: 2rem;
}