body {
    margin: 2em 2em;
    overflow: hidden;
}

.flex-parent {
    display: flex;
    justify-content: center;
    min-width: 30%;
  }

.flex-item {
    padding: 0.5em;
    background: #efefef;    
    border: 3px solid #333;
    justify-content: space-between;
    min-height:100%;
    margin: 2em;
}

#score {
    height: 23em;
    width: 20em;
    text-align: center;
    font-size: 2em;
    margin-right: 10em;
}

ul {
    list-style-type: none;
  }

.wrapper-item {
    padding: 0px 5em;
    margin: 3em;
    border: 3px solid #333;
    text-align: center;
}

.wrapper-item a {
    color: #0060B6;
    text-decoration: none;
    font-size: 5em;
  }
  
.wrapper-item a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
  }

#home {
    margin: -1em -1em;
}

#home > a {
color: #0060B6;
text-decoration: none;
font-size: 3em;
}

#home > a:hover {
color:#00A0C6; 
text-decoration:none; 
cursor:pointer;  
}
